* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  text-align: center;
  transition: background-image 3s ease-in-out, opacity 3s ease-in-out;
}

body.hero-active {
  background-image: none;
  opacity: 0;
}

body.show-content {
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  background-size: 400px;
  background-repeat: repeat;
  animation: moveBackground 60s linear infinite;
  opacity: 1;
  overflow-y: auto;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 300px 300px; 
  }
}


.app-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

.app-container.visible {
  opacity: 1;
  transform: translateY(0);
  overflow: auto;
  max-height: none;
}


.text-center {
  text-align: center;
}

.title-text {
  font-size: 3rem;
  font-weight: 200;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  margin-bottom: -1.5rem; /* Negative margin */
}

.hidden {
  display: none;
}

.text-accent {
  color: #03dac6;
}
