/* Global styles */
body {
  font-family: "Cabin", sans-serif;
  background-color: #121212; /* Deep Black */
  color: #e0e0e0; /* Soft White */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Cabin", sans-serif;
  font-weight: bold;
}

.container {
  width: 100vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #121212; 
}

/* Utility Classes */
.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.text-accent {
  color: #03dac6; /* Sleek Cyan Accent */
}
