.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1.5rem; 
  justify-content: center;
  align-items: stretch; 
  padding: 20px;
  max-width: 1200px;
}

.card-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #03dac6;
  margin-bottom: 1rem;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  max-width: 90%; 
  display: block;
}


body {
  overflow-y: auto;
}
