.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem; 
  width: 100%;
}

.input-box {
  width: 100%;
  max-width: 500px;
  padding: 0.75rem;
  border: 1px solid #333;
  background: #222;
  color: #e0e0e0;
  border-radius: 8px;
  font-size: 1rem;
  text-align: center;
  outline: none;
  transition: border 0.3s ease-in-out;
  font-family: 'Rubik', sans-serif !important;
  font-weight: 100;
}

.input-box::placeholder {
  font-family: "Poppins", sans-serif;
  color: #bbb;
  font-weight: 300;
  text-align: center;
}

.input-box:focus {
  border-color: #03dac6;
}

.search-btn {
  background: #03dac6;
  color: black;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  margin-top: 1rem; 
  cursor: pointer;
  text-align: center;
  transition: background 0.3s ease, transform 0.2s ease;
}

.search-btn:hover {
  background: #02c5b4;
  transform: translateY(-2px);
}
